# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Builds
dist/
build/

# Vite / local config
.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / System files
.vscode/
.idea/
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
